@font-face {
    font-family: '';
    src: url('CookieRunOTF-Bold00.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('CookieRunOTF-Black00.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('CookieRunOTF-Regular00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

